* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #c9c8ee;
}

#canvas1 {
    background: #c9c8ee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    display: none;
}

/* #ui {
    display: none;
}

#gameover {
    display: none;
}

#player {
    display: none;
}
#obj1 {
    display: none;
}
#obj2 {
    display: none;
}
#obj3 {
    display: none;
}
#obj4 {
    display: none;
}
#obj5 {
    display: none;
}
#obj6 {
    display: none;
}
#obj7 {
    display: none;
}
#obj8 {
    display: none;
}
#obj9 {
    display: none;
}
#obj10 {
    display: none;
}
#obj11 {
    display: none;
} */

