* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #c9c8ee;
    width: 100vw;
    max-width: 1920px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#fullscreen-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas1 {
    background: #c9c8ee;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

#fullscreen-btn{
    position: fixed;
    top: 2px;
    right: 2px;
    padding: 2px;
}

#touch-guard-btn{
    position: fixed;
    top: 32px;
    right: 2px;
    padding: 2px;
}

img {
    display: none;
}
